<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            &copy;{{ site.time | date: "%Y" }} {{site.company_name}}. All rights reserved. <br />
            {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br />{% endif %}
            <p><img class="footer-logo" src="{{ " /assets/images/company_logo.png" }}" loading="lazy" alt="Company logo" /></p>
            <a href="/privacy_policy.html">Privacy Policy</a>
        </div>
    </div>
</footer>
